.title{
    font-family: 'Big Shoulders Text', sans-serif;
    font-size: 40px;
}

.content{
    margin: 20px 0 60px 0;

    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80vw;
        margin: auto;
        margin-top: 20px;
        padding: 20px;
        border-radius: 50px;
        background-color: var(--b80);
        // box-shadow: 0 0 10px var(--b900);

        div{
            display: flex;
            flex-direction: column;
            gap: 10px;

            label{
                font-family: 'Inika', serif;
                font-weight: bold;
                font-size: 20px;
                color: var(--b900);

                span{
                    color: red;
                    font-weight: 400;
                }
            }

            input{
                font-family: 'Inika', serif;
                font-size: 20px;
                padding: 5px 10px;
                border-radius: 20px;
                border: none;
                background-color: var(--b0);
                transition: 0.1s;
                // box-shadow: 0 0 5px var(--b900);

                &:focus{
                    outline: none;
                    box-shadow: 0 0 5px var(--b900);
                }
            }

        }
        .submit{
            font-family: 'Inika', serif;
            font-size: 25px;
            padding: 5px 10px;
            border-radius: 20px;
            width: 50%;
            margin: 15px auto;
            border: none;
            background-color: var(--b0);
            transition: 0.1s;

            &:hover{
                background-color: var(--b900);
                color: white;
            }
        }
        
    }
}