// @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;700&family=Inika:wght@400;700&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    min-height: 120px;
    background-color: var(--r300);
    flex-wrap: wrap;
}

.navbar_logo{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 34px;
    text-decoration: none;
    @media (max-width: 480px) {
        // scale: 0.75;
        margin-top: 5px;
        margin-bottom: 5px;
        img{
            scale: 0.9;
        }
    }
}

.navlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    margin-right: 5vw;
    gap: 20px;
    @media (max-width: 480px) {
        width: 95vw;
        justify-content: space-around;
        margin: auto;
        .navbarlink{
                font-size: 15px;
                margin-bottom: 5px;
        }
    }
}